OPENCTI_MCP_OPENCTI_BASE_URL=http://localhost:8080/graphql
OPENCTI_MCP_OPENCTI_API_TOKEN=
OPENCTI_MCP_MOCK_MODE=false
OPENCTI_MCP_REQUEST_TIMEOUT_SECONDS=15

NOTIFICATION_MCP_DEFAULT_FORMAL_RECIPIENT=hdhscu@126.com
NOTIFICATION_MCP_PREVIEW_MODE=false
NOTIFICATION_MCP_SMTP_HOST=
NOTIFICATION_MCP_SMTP_PORT=587
NOTIFICATION_MCP_SMTP_USERNAME=
NOTIFICATION_MCP_SMTP_PASSWORD=
NOTIFICATION_MCP_SMTP_FROM_ADDRESS=
NOTIFICATION_MCP_SMTP_USE_STARTTLS=true

